@media (max-width: 1399px) {
  /* Header =========================== */
  .header__contact {
    display: block;
  }
  .header__email {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .logo img {
    width: 150px;
    padding-right: 10px;
  }
  .header__timing {
    padding-right: 15px;
  }

  /* Categories */

  .page__wrap {
    margin-top: 50px;
  }
  /* Catalog */
  .spacer > * {
    margin: 0 auto;
  }
  .tags__link {
    margin-top: 10px;
  }

  /* product */
  .sliderTop {
    order: 1;
    margin-top: 30px;
    width: 63%;
  }
  .product__right {
    width: 100%;
    margin-top: 30px;
  }
  .product__titles {
    justify-content: flex-start;
  }
  .product__titles-item {
    margin-right: 20px;
  }
  .properties__item {
    justify-content: flex-start;
  }
}

@media (max-width: 1299px) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
  .nav__item {
    margin-right: 15px;
  }

  /* Categories */
  .category__title {
    font-size: 16px;
  }
  .card__title {
    font-size: 14px;
  }
  .shipping__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .time {
    top: -250px;
  }
  .shipping {
    padding-top: 180px;
  }
}

@media (max-width: 990px) {
  /* headerBurger */
  .header {
    display: none;
  }
  .logo,
  .header__inner,
  .basket-link,
  .nav,
  .nav-bar__right {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .nav-bar {
    background: none;
  }
  .menu__window {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #f5f5f5;
    width: 260px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
  }
  .header__mobile-inner {
    position: relative;
  }
  .nav-mobile {
    margin-bottom: 20px;
  }
  .nav__link {
    color: #2e3346;
    line-height: 30px;
    height: 100%;
  }
  .header__phone-link {
    margin-top: 5px;
  }
  .header__timing,
  .header__adress,
  .header__email,
  .header__phone {
    margin-bottom: 20px;
  }
  .icon-contact-1 {
    margin-right: 10px;
  }
  .nav__item {
    width: 200px;
  }
  .modal__close {
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .show {
    display: block;
  }
  /* headerBurger */

  .banners__next {
    right: 0;
  }
  .banners__slider {
    margin-right: 0;
  }
  .banners__slider {
    padding-right: 50px;
  }
  /* category */
  .aside {
    margin-right: 15px;
  }
  .category {
    width: 100%;
    margin-right: 15px;
  }
  .category:nth-child(4n) {
    margin-right: 15px;
  }
  .categories__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .card {
    width: 100%;
  }

  /* Catalog */
  .page__content-fl {
    margin-top: 40px;
  }
  /* shipping */
  .conditions__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .condition {
    margin-top: 15px;
  }
  .price__title {
    font-size: 16px;
  }

  /* product */
  .aside-prod{
    width: 100%;
    margin-right: 0;
  }
  .sliderTop__image-inner{
    display: flex;
    width: 100%;
  }
  .sliderTop__item-inner{
    width: 50%;
  }
  .sliderTop{
    width: 100%;
  }
  .sliderTop__image {
    margin-right: 15px;
  }
  .sliderTop__image:last-child{
    margin-right: 0;
  }
  .sliderTop__item--arrow{
    width: 25px;
  }
}

@media (max-width: 890px) {
  .page__wrap {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .widget {
    display: none;
  }
  .news {
    margin-left: 15px;
    margin-top: 0;
    width: 100%;
  }

  .a-nav {
    top: 0;
  }
  .categories {
    margin-top: 50px;
  }

  /* Catalog */
  .steps__list {
    margin-top: 35px;
  }
  .icon-steps-colon {
    margin: 0;
  }
  .card-1{
    display: none;
  }
}
@media (max-width: 750px) {
  /* shipping */
  .conditions__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .shipping__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .shipping__desc {
    font-size: 14px;
  }
  .price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .card-2{
    display: none;
  }
}
@media (max-width: 640px) {
  .block-top .green-btn {
    margin-left: 0;
    margin-top: 15px;
  }
  .page__content-fl,
  .types__photo {
    width: 100%;
  }
  .cards-catalog {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  /* About */
  .icon-steps-colon {
    display: none;
  }
  .advantages__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .advantage {
    width: 100%;
  }
  .info__title {
    font-size: 16px;
  }
  .info__desc {
    font-size: 14px;
  }
  .info {
    padding: 34px 16px 33px 175px;
  }

  /* shipping */
  .shipping__desc {
    margin-bottom: 288px;
  }
  .shipping {
    padding-top: 30px;
  }
  .time {
    left: 0;
  }
  .time h2 {
    font-size: 16px;
  }
  .shipping__item {
    margin-top: 15px;
  }
  .product__right h1{
    font-size: 19px;
  }
  .product__titles{
    flex-wrap: wrap;
  }
  .product__titles-item{
    margin-top: 10px;
  }
  .sliderTop__image{
    padding: 10px;
  }
}
@media (max-width: 619px) {
  .banner__title {
    font-size: 18px;
  }
  .banner {
    padding: 15px;
  }
  .aside {
    flex-direction: column;
  }
  .news {
    margin-top: 30px;
    margin-left: 0;
  }

  /* Catalog */
  .types__content {
    margin-top: 30px;
  }
  .types__info {
    width: 100%;
    font-size: 14px;
  }
  .types__title {
    width: 260px;
  }
  .card-3,
  .product__slider-item{
    display: none;
  }
  .properties__item-line{
    display: none;
  }
  .sliderTop__image-inner{
    flex-direction: column;
  }
  .sliderTop__image{
    margin-right: 0;
  }
  .sliderTop__item-inner{
    width: 100%;
  }
  .properties__block{
    width: 170px;
  }
  .properties__item-title{
    white-space: normal;
  }
  .product__pay{
    flex-wrap: wrap;
  }
  .green-btn__prod{
    margin-top: 15px;
  }
}
@media (max-width: 450px) {
  .banner__title {
    font-size: 12px;
  }
  .banner {
    padding: 15px;
    min-height: 93px;
  }
  .banner__logo {
    width: 120px;
  }
  .categories__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  /* Catalog */
  .types__content {
    flex-direction: column;
  }
  .types__info,
  .types__logo {
    text-align: left;
    margin-bottom: 10px;
  }

  /* About */
  .about p {
    font-size: 14px;
  }
  .steps__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step {
    margin-top: 20px;
  }
  .advantage__title {
    font-size: 14px;
  }
  .content_small .title-center {
    font-size: 16px;
  }
  .info {
    padding: 15px;
    padding-top: 200px;
  }
  /* shipping */
  .conditions__list {
    display: flex;
    justify-content: center;
  }
  .shipping__list {
    display: flex;
    flex-direction: column;
  }
  .properties__item{
    display: block;
    width: 100%;
  }
  .properties__block {
    width: 100%;
  }
}
