@media (max-width: 1399px) {
  /* Header =========================== */
  .header__contact {
    display: block;
  }
  .header__email {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .logo img {
    width: 150px;
    padding-right: 10px;
  }
  .header__timing {
    padding-right: 15px;
  }

  /* Categories */

  .page__wrap {
    margin-top: 50px;
  }
}

@media (max-width: 1299px) {
  .nav {
    display: flex;
    justify-content: flex-start;
  }
  .nav__item {
    margin-right: 15px;
  }

  /* Categories */
  .category__title {
    font-size: 16px;
  }
  .card__title {
    font-size: 14px;
  }
}

@media (max-width: 990px) {
  /* headerBurger */
  .header {
    display: none;
  }
  .logo,
  .header__inner,
  .basket-link,
  .nav,
  .nav-bar__right {
    display: none;
  }
  .header__mobile {
    display: block;
  }
  .nav-bar {
    background: none;
  }
  .menu__window {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #f5f5f5;
    width: 260px;
    padding: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
  }
  .header__mobile-inner {
    position: relative;
  }
  .nav-mobile {
    margin-bottom: 20px;
  }
  .nav__link {
    color: #2e3346;
    line-height: 30px;
    height: 100%;
  }
  .header__phone-link {
    margin-top: 5px;
  }
  .header__timing,
  .header__adress,
  .header__email,
  .header__phone {
    margin-bottom: 20px;
  }
  .icon-contact-1 {
    margin-right: 10px;
  }
  .nav__item {
    width: 200px;
  }
  .modal__close {
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .show {
    display: block;
  }
  /* headerBurger */

  .banners__next {
    right: 0;
  }
  .banners__slider {
    margin-right: 0;
  }
  .banners__slider{
    padding-right: 50px;
  }
  /* category */
  .aside {
    margin-right: 15px;
  }
  .category {
    width: 100%;
    margin-right: 15px;
  }
  .category:nth-child(4n) {
    margin-right: 15px;
  }
  .categories__list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 890px) {
  .page__wrap {
    display: flex;
    flex-direction: column;
  }
  .aside {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .widget {
    display: none;
  }
  .news {
    margin-left: 15px;
    margin-top: 0;
    width: 100%;
  }
  
  .a-nav {
    top: 0;
  }
  .categories {
    margin-top: 50px;
  }
}
@media (max-width: 640px){
  .block-top .green-btn{
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 619px) {
  .banner__title {
    font-size: 18px;
  }
  .banner {
    padding: 15px;
  }
  .aside{
    flex-direction: column;
  }
  .news{
    margin-top: 30px;
    margin-left: 0;
  }
}
@media (max-width: 450px) {
  .banner__title {
    font-size: 12px;
  }
  .banner {
    padding: 15px;
    min-height: 93px;
  }
  .banner__logo {
    width: 120px;
  }
  .categories__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  .cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
}
